---
BasedOnStyle: llvm
ColumnLimit: 0
IndentWidth: 4
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
KeepEmptyLinesAtTheStartOfBlocks: false
AlignTrailingComments: false
AlignOperands: false
...
