Checks: >
  -*,
  android-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  misc-*,
  objc-*,
  readability-*,
  -android-cloexec-pipe,
  -bugprone-assignment-in-if-condition,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-narrowing-conversions,
  -misc-confusable-identifiers,
  -readability-function-cognitive-complexity,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-uppercase-literal-suffix,
CheckOptions:
  - key:   readability-braces-around-statements.ShortStatementLines
    value: 1
  - key:   readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'
  - key:   readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z|w'
