name: Build Examples

on:
  push:
    branches: [ "main" ]
    paths-ignore: [ '**.md' ]
  pull_request:
    branches: [ "main" ]
    paths-ignore: [ '**.md' ]

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Android NDK
      id: setup-ndk
      uses: nttld/setup-ndk@v1
      with:
        ndk-version: r25c
        add-to-path: false
    
    - name: Configure CMake
      env:
        ANDROID_NDK_HOME: ${{steps.setup-ndk.outputs.ndk-path}}
      run: >
        cmake 
        -D GLFM_BUILD_EXAMPLES=ON
        -D CMAKE_TOOLCHAIN_FILE=${{env.ANDROID_NDK_HOME}}/build/cmake/android.toolchain.cmake
        -D CMAKE_C_FLAGS=-Werror=deprecated-declarations
        -D CMAKE_VERBOSE_MAKEFILE=ON
        -B build/android_examples
      
    - name: Build
      run: cmake --build build/android_examples
  
  build-apple:
    runs-on: macos-latest
    env:
      CFLAGS: -Werror=deprecated-declarations
    steps:
    - uses: actions/checkout@v3

    - name: Configure CMake
      run: >
        cmake
        -D GLFM_BUILD_EXAMPLES=ON
        -D CMAKE_XCODE_ATTRIBUTE_CODE_SIGN_IDENTITY=""
        -D CMAKE_XCODE_ATTRIBUTE_CODE_SIGNING_REQUIRED=NO
        -B build/apple_examples
        -G Xcode

    - name: Build
      run: cmake --build build/apple_examples

  build-emscripten:
    runs-on: ubuntu-latest
    env:
      CFLAGS: -Werror=deprecated-declarations
    steps:
    - uses: actions/checkout@v3

    - name: Setup Emscripten SDK
      uses: mymindstorm/setup-emsdk@v12
      with:
        version: 3.1.34
        actions-cache-folder: 'emsdk-cache'
    
    - name: Configure CMake
      run: >
        emcmake cmake 
        -D GLFM_BUILD_EXAMPLES=ON 
        -D CMAKE_VERBOSE_MAKEFILE=ON
        -B build/emscripten_examples

    - name: Build
      run: cmake --build build/emscripten_examples
      
